= javascript_include_tag('recipe_index')
%h1 Browsing Recipes
= showFlash
#subnav
  %ul
    %li <a href="#" id="yourRecipesLink" class="active">your recipes</a>
    %li <a href="#" id="otherRecipesLink">other recipes</a>
#recipeIndex
  #yourRecipes
    - if !@made_recipes.empty?
      .recipeGroupContainer
        %h2 Stuff You've Made
        - @made_recipes.each do |r|
          %ul
            %li= "#{link_to r.title, r, :class => "recipeLink"} - last made on #{recipe_meal_link r}"
    - if !@planned_recipes.empty?
      .recipeGroupContainer
        %h2 Stuff You're Gonna Make
        - @planned_recipes.each do |r|
          %ul
            %li= "#{link_to r.title, r, :class => "recipeLink"} - planned for  #{recipe_meal_link r}"
    - if !@unplanned_recipes.empty?
      .recipeGroupContainer
        %h2 Stuff You Haven't Decided To Make Yet
        - @unplanned_recipes.each do |r|
          %ul
            %li= "#{link_to r.title, r, :class => "recipeLink"} - added on #{r.created_at.strftime('%a %b %d, %Y')}"
  #otherRecipes
    .recipeGroupContainer
      %h2 Other Recipes
      - @other_recipes.each do |r|
        %li= "#{link_to r.title, r, :class => "recipeLink"} - added on #{r.created_at.strftime('%a %b %d, %Y')} by #{r.user.username}"