= javascript_include_tag('jquery.autogrow')
= javascript_include_tag('recipe_edit')
%h1= "Add a Recipe"
= showFlash
= error_messages_for :recipe
#editRecipeForm
  #recipeForms
    #recipeForm
      - form_for @recipe, :url => { :action => "create" } do |recipe_form|
        = hidden_field(:recipe, :id)
        = label(:recipe, :title)
        = recipe_form.text_field :title
        %br
        = label(:recipe, "Link (if applicable)")
        = recipe_form.text_field :link
        %br
        = label(:recipe, :prep_time)
        = recipe_form.text_field :prep_time
        %br
        = label(:recipe, :ingredients)
        = recipe_form.text_area :ingredients
        %br
        = label(:recipe, :directions)
        = recipe_form.text_area :directions
        %br
        = label(:recipe, :yield)
        = recipe_form.text_field :yield
        %br
        = submit_tag 'add recipe'
#backLink= link_to "&larr; back to #{@recipe.title}", :back, :class => "utilityLink"
