%h1= "Recipe: #{@recipe.title}"
= showFlash
-if !@meals.empty?
  %h2= "Prepared #{@meals.length} time#{@meals.length > 1 ? 's' : ''} - last on #{link_to @meals.first.day.strftime("%a %b %d, %Y"), user_meal_path(@recipe.user, @meals.first)}"
-else
  %h2= "Prepared 0 times"
#editRecipeLink= editRecipeLinkDisplay
#recipeDetails
  - if @recipe.user != current_user
    %h4= "Uploaded by #{@recipe.user.username} on #{@recipe.created_at.strftime('%a %b %d, %Y')}"
    =button_to "Add this recipe to your collection", {:controller => "recipes", :action => "add_to_collection"}, :class => "utilityLink"
#viewMeal
  #externalLink
    -if @recipe.link && @recipe.link != ""
      %h3= "Link: #{link_to @recipe.link, @recipe.link, :target => 'blank'}"
  #prepTime
    -if @recipe.prep_time && @recipe.prep_time != ""
      %h3 Preparation Time
      %p= @recipe.prep_time
  #ingredients
    %h3 Ingredients
    %p= @recipe.ingredients.gsub(/\n/,'<br/>')
  #directions
    %h3 Directions
    %p= @recipe.directions.gsub(/\n/,'<br/>')
  #yield
    -if @recipe.yield && @recipe.yield != ""
      %h3 Yield
      %p= @recipe.yield
= render :partial => "recipe_reviews"
#backLink= link_to "&larr; Back to recipes", {:action => "index"}, :class => "utilityLink"