%h1= "Recipe: #{@recipe.title}"
= showFlash
#editRecipeLink= edit_recipe_link_display
#viewMeal
  #recipeDetails
    - if @recipe.user != current_user
      %h4= "Uploaded by #{@recipe.user.username} on #{@recipe.created_at.strftime('%a %b %d, %Y')}"
      =link_to "Add this recipe to your collection", :controller => "recipes", :action => "add_to_collection"
  #externalLink
    -if @recipe.link && @recipe.link != ""
      %h3= "Link: #{link_to @recipe.link, @recipe.link, :target => 'blank'}"
  #prepTime
    -if @recipe.prep_time && @recipe.prep_time != ""
      %h3 Preparation Time
      %p= @recipe.prep_time
  #ingredients
    %h3 Ingredients
    %p= @recipe.ingredients.gsub(/\n/,'<br/>')
  #directions
    %h3 Directions
    %p= @recipe.directions.gsub(/\n/,'<br/>')
  #yield
    -if @recipe.yield && @recipe.yield != ""
      %h3 Yield
      %p= @recipe.yield
  #backLink= link_to "&larr; Back to recipes", {:action => "index"}, :class => "utilityLink"