%h1= "Recipe: #{@recipe.title}"
#editRecipeLink= edit_recipe_link_display
#viewMeal
  #ingredients
    %h3 Ingredients
    %p= @recipe.ingredients.gsub(/\n/,'<br/>')
  #directions
    %h3 Directions
    %p= @recipe.directions.gsub(/\n/,'<br/>')
  #backLink= link_to "&larr; Back to recipes", {:action => "index"}, :class => "utilityLink"