%h1= "What's cooking?" unless @user != current_user
= showFlash
%h1= "Browsing #{@user.username}'s meals" unless @user == current_user
#mealDays
  .mealDay
    = dayTitle @centerDate - 1
    = addMealLink @centerDate - 1
    = render :partial => 'meal', :collection => @left_meals
  .mealDay
    = dayTitle @centerDate
    = addMealLink @centerDate
    = render :partial => 'meal', :collection => @center_meals
  .mealDay.lastMealDay
    = dayTitle @centerDate + 1
    = addMealLink @centerDate + 1
    = render :partial => 'meal', :collection => @right_meals
.clearDiv
#dateLinks
  .older
    = link_to "&larr; older", url_for(:controller => 'meals', :action => 'index', :d => @centerDate - 1), :class => "utilityLink"
  .today
    = link_to "today", url_for(:controller => 'meals', :action => 'index', :d => Date.today), :class => "utilityLink"
  .newer
    = link_to "newer &rarr;", url_for(:controller => 'meals', :action => 'index', :d => @centerDate + 1), :class => "utilityLink"