%h1 What's cooking?
#mealDays
  .mealDay
    %h2= (@centerDate - 1).strftime("%a %b %d, %Y")
    = button_to "add a meal", "/" +(@centerDate - 1).strftime("%b-%d-%Y").downcase+"/meals/new/", :method => :get
    = render :partial => 'meal', :collection => @left_meals
  .mealDay
    - if @centerDate == Date.today
      %h2.today= @centerDate.strftime("%a %b %d, %Y")
    - else
      %h2= @centerDate.strftime("%a %b %d, %Y")
    = button_to "add a meal", "/" + @centerDate.strftime("%b-%d-%Y").downcase+"/meals/new/", :method => :get
    = render :partial => 'meal', :collection => @center_meals
  .mealDay.lastMealDay
    %h2= (@centerDate + 1).strftime("%a %b %d, %Y")
    = button_to "add a meal", "/"+ (@centerDate + 1).strftime("%b-%d-%Y").downcase+"/meals/new/", :method => :get
    = render :partial => 'meal', :collection => @right_meals
.clearDiv
#dateLinks
  .older
    = link_to "&larr; older", url_for(:controller => 'meals', :action => 'index', :d => @centerDate - 3), :class => "utilityLink"
  .today
    = link_to "today", url_for(:controller => 'meals', :action => 'index', :d => Date.today), :class => "utilityLink"
  .newer
    = link_to "newer &rarr;", url_for(:controller => 'meals', :action => 'index', :d => @centerDate + 3), :class => "utilityLink"