%h2= "Adding a dish to " + @meal.day.strftime("%A, %B %d, %Y")
#mealForm
  - form_for @meal, :url => { :action => "create"} do |meal_form|
    = hidden_field(:meal, :day)
    - meal_form.fields_for :recipe do |recipe_form|
      = label(:recipe, :title)
      = recipe_form.text_field :title 
      %br
      = label(:recipe, :body)
      = recipe_form.text_area :body
      %br
    = submit_tag 'Add meal'