%h1= "Schedule recipe for " + @meal.day.strftime("%A, %B %d, %Y")
= error_messages_for :meal
= javascript_include_tag('meal_add')
#recipePickerForm
  - form_for @meal, :url => { :action => "create"} do |meal_form|
    = hidden_field(:meal, :day)
    - meal_form.fields_for :recipe do |recipe_form|
      = label(:recipe, :id, "Pick a recipe:")
      = collection_select(:recipe, :id, @recipes, :id, :title,options ={:prompt => "-----"})
    = submit_tag 'Schedule Recipe'
#orDiv OR
#mealForm
  %p Create new Recipe:
  - form_for @meal, :url => { :action => "create"} do |meal_form|
    = hidden_field(:meal, :day)
    - meal_form.fields_for :recipe do |recipe_form|
      = label(:recipe, :title)
      = recipe_form.text_field :title 
      %br
      = label(:recipe, :body)
      = recipe_form.text_area :body
      %br
    = submit_tag 'Add and Schedule Recipe '