= javascript_include_tag('jquery.autogrow')
= javascript_include_tag('meal_add')
%h1= "Schedule recipe for " + @meal.day.strftime("%A, %B %d, %Y")
= error_messages_for :meal
#recipeForms
  #recipeForm
    %h2 Create a new recipe
    - form_for @meal, :url => { :action => "create" } do |meal_form|
      = hidden_field(:meal, :day)
      - meal_form.fields_for :recipe do |recipe_form|
        = label(:recipe, :title)
        = recipe_form.text_field :title
        %br
        = label(:recipe, :prep_time)
        = recipe_form.text_field :prep_time
        %br
        = label(:recipe, :ingredients)
        = recipe_form.text_area :ingredients 
        %br
        = label(:recipe, :directions)
        = recipe_form.text_area :directions
        %br
        = label(:recipe, :yield)
        = recipe_form.text_field :yield
        %br
      = submit_tag 'add and schedule recipe'
  - if @recipes.length > 0
    #recipePickerForm
      - form_for @meal, :url => { :action => "create"} do |meal_form|
        = hidden_field(:meal, :day)
        - meal_form.fields_for :recipe do |recipe_form|
          %h2 Use an existing recipe
          = collection_select(:recipe, :id, @recipes, :id, :title, options = {:size => 10} )
        %br
        = submit_tag 'schedule recipe'