#header
  #logo
    %h1
      %a(href="/")
        %span#omg> omg 
        %span#its> its
        %span#food food
  #userStuff
    - if logged_in?
      ='you are ' + current_user.username
      |
      = link_to "Log out", logout_path
    - else
      = link_to "Sign up", signup_path
  - if current_user
    #nav
      = link_to "plan meals", user_meals_path(current_user)
      = link_to "manage recipes", recipes_path
      = link_to "browse users", users_path
.clearDiv
  