#header
  #logo
    %h1
      %a(href="/")
        %span#omg> omg 
        %span#its> its
        %span#food food
  #userStuff
    - if logged_in?
      ='you are ' + current_user.username
      |
      = link_to "Log out", logout_path
    - else
      = link_to "Sign up", signup_path
  - if current_user
    #nav
      = navLink "plan meals", user_meals_path(current_user), "meals"
      = navLink "browse recipes", recipes_path, "recipes"
      = navLink "find foodies", users_path, "users"
.clearDiv
  