!!! 5
%html
  %head
    %title omgitsfood
    = javascript_include_tag "jquery"
    = stylesheet_link_tag 'yui/reset-min', :media => "screen"
    = stylesheet_link_tag 'style', :media => "screen"
  %body
    #outerWrapper
      #borderWrapper
        #innerWrapper
          = render :partial => "layouts/header"
          #mainContent= yield
          .clearDiv
    .clearDiv